<h2>WEATHER APP</h2>

<section>
  <div class="inputCity">
    <input type="text" name="findCity">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <h2>Current Location:</h2>
  <p>city Name and country Name</p>

  <div class="cityCard">
    <!-- <i class="fa-solid fa-droplet"></i>
    <i class="fa-solid fa-cloud-rain"></i>
    <i class="fa-solid fa-cloud-bolt"></i> 
    <i class="fa-solid fa-cloud"></i>
    <i class="fa-solid fa-sun"></i>
    <i class="fa-solid fa-cloud"></i> -->
  </div>
  <p>timeZone and dateTime</p>

  <div class="cardParameter">

  </div>
  <div class="cardParameter">

  </div>
  <div class="cardParameter">

  </div>
  <div class="cardParameter">

  </div>
  <div class="cardParameter">

  </div>
  <div class="cardParameter">

  </div>
</section>