:host{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4FBFF;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:31px;
    margin-bottom: 20px;
}

.logo__img{
    width: 42px;
    height: 53px;
}

.logo__title{
    font-size:16px;
    font-weight:600;
    color:#1C2C39;
    padding-left: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
  
.search__input {
    width: 216px;
    height: 35px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    border: 1px solid #D4D4D4;
    border-right: none;
    background-color: #fff;
    padding-right: 30px;
    box-sizing: border-box;
}

.search__iconContainer{
    width: 32px;
    height: 33px;
    display: flex;
    border: 1px solid #D4D4D4;
    border-left: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.search__input ::placeholder{
    font-size:10px;
    font-weight:500;
    color:#687682;
}
  
.fa-magnifying-glass {
    /* position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); */
    /* pointer-events: none;  */
    color: #687682;
    font-size: 16px;
}

.noCity{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-earth-americas{
    background: linear-gradient(to bottom, #8B99D0, #6E7386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 142px;
}

.noCity__message{
    font-size:16px;
    font-weight:600;
    color:#356F9D;
}

.cardWeatherTime__actualTime{
    width: 74px;
    height: 26px;
    background-color: #383F5A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualTime_hour{
    font-size:12px;
    font-weight:500;
    color:#E1E7FF;
}

.cardWeatherTime{
    width:249px;
    height:161px;
    background-color: #697F93;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:16px;
}

.cardWeatherTime__cityCountry{
    font-size:12px;
    font-weight:600;
    color:#E1FAFF;
}

.cardWeatherTime__date{
    font-size:12px;
    font-weight:500;
    color:#FFFFFF;
}

.cardWeatherTime__weatherContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.states{
    color: #E1FAFF;
    font-size: 68px;
}

.weatherContainer__cityWeather{
    padding-left: 35px;
    display: flex;
    flex-direction: column;    
    height: 100%;
}

.cityWeather__degress{
    font-size:36px;
    font-weight:600;
    color:#E1FAFF;
}

.cityWeather__nameState{
    font-size:12px;
    font-weight:500;
    color:#fff;
}

.cardCaracteristics{
    width: 249px;
    height: 290px;
    background-color: #697F93;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCaracteristics__laterDaysCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardCaracteristics__laterCard{
    width: 45px;
    height: 68px;
    border-radius: 11px;
    background-color: #383F5A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.laterCard__hour{
    font-size:10px;
    font-weight:500;
    color:#E1E7FF;
}

.laterCard__degress{
    font-size:12px;
    font-weight:600;
    color:#E1E7FF;
}

.cardCaracteristics__behaviorsCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.behaviorsCard__card{
    width:98px;
    height:44px;
    border-radius: 6px;
    background-color: #839DA8;
    border: 1px solid #D4EAFF;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.card__name{
    font-size:10px;
    font-weight:600;
    color:#fff;
    padding-left: 10px;
}
.card__data{
    font-size: 10px;
    font-weight: 600;
    color: #DEF2FF;
    text-align: end;
    padding-right: 10px;
}

.nextDays{
    color: #E8E8E8;
}

.rowCards{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}