<div class="logo">
  <img class="logo__img" src="./../assets/img/logo.png" alt="">
  <h2 class="logo__title">Weather <br> App</h2>
</div>

<div class="search">
  <input class="search__input" type="text" name="" id="" placeholder="Select any City..." [(ngModel)]="searchValue">
  <div class="search__iconContainer">
    <i class="fa-solid fa-magnifying-glass" (click)="searchCity()" ></i>
  </div>
</div>

<div class="noCity" *ngIf="noCity">
  <i class="fa-solid fa-earth-americas"></i>
  <h2 class="noCity__message">Please Select  a city</h2>
</div>

<div class="cardWeatherTime__actualTime" *ngIf="!noCity"><h2 class="actualTime_hour">{{hours}}:{{minutes}} {{periodTime}}</h2></div>
<section class="cardWeatherTime" *ngIf="!noCity">
  <h2 class="cardWeatherTime__cityCountry">{{cityName}} {{countryName}}</h2>
  <h2 class="cardWeatherTime__date">{{dayName}}  {{dayMonth}} {{stringMonth}} {{year}}</h2>

  <div class="cardWeatherTime__weatherContainer">
    <i class="fa-solid fa-droplet states" *ngIf="states.Drizzle"></i>
    <i class="fa-solid fa-cloud-rain states" *ngIf="states.Rain"></i>
    <i class="fa-solid fa-cloud-bolt weatherIcons states" *ngIf="states.Thunderstorm"></i> 
    <i class="fa-solid fa-snowflake weatherIcons states"  *ngIf="states.Snow"></i>
    <i class="fa-solid fa-smog weatherIcons states"*ngIf="states.Atmosphere"></i>
    <i class="fa-solid fa-sun weatherIcons states" *ngIf="states.Sunny"></i>
    <i class="fa-solid fa-cloud weatherIcons states" *ngIf="states.Clouds"></i>
    <div class="weatherContainer__cityWeather">
      <h2 class="cityWeather__degress">{{FloorDegress}} °</h2>
      <h2 class="cityWeather__nameState">{{stateName}} State</h2>
    </div>
  </div>
</section>

<section class="cardCaracteristics" *ngIf="!noCity">
  <div class="cardCaracteristics__laterDaysCards">

    <div class="rowCards">
      <div class="cardCaracteristics__laterCard">
        <h2 class="laterCard__hour">{{threeH}}:{{minutes}}</h2>
        <i class="fa-solid fa-droplet nextDays" *ngIf="states.Drizzle"></i>
        <i class="fa-solid fa-cloud-rain nextDays" *ngIf="states.Rain"></i>
        <i class="fa-solid fa-cloud-bolt weatherIcons nextDays" *ngIf="states.Thunderstorm"></i> 
        <i class="fa-solid fa-snowflake weatherIcons nextDays"  *ngIf="states.Snow"></i>
        <i class="fa-solid fa-smog weatherIcons nextDays"*ngIf="states.Atmosphere"></i>
        <i class="fa-solid fa-sun weatherIcons nextDays" *ngIf="states.Sunny"></i>
        <i class="fa-solid fa-cloud weatherIcons nextDays" *ngIf="states.Clouds"></i>
        <h2 class="laterCard__degress">{{threeDegreess}} C°</h2>
      </div>

      <div class="cardCaracteristics__laterCard">
        <h2 class="laterCard__hour">{{sixH}}:{{minutes}}</h2>
        <i class="fa-solid fa-droplet nextDays" *ngIf="states.Drizzle"></i>
        <i class="fa-solid fa-cloud-rain nextDays" *ngIf="states.Rain"></i>
        <i class="fa-solid fa-cloud-bolt weatherIcons nextDays" *ngIf="states.Thunderstorm"></i> 
        <i class="fa-solid fa-snowflake weatherIcons nextDays"  *ngIf="states.Snow"></i>
        <i class="fa-solid fa-smog weatherIcons nextDays"*ngIf="states.Atmosphere"></i>
        <i class="fa-solid fa-sun weatherIcons nextDays" *ngIf="states.Sunny"></i>
        <i class="fa-solid fa-cloud weatherIcons nextDays" *ngIf="states.Clouds"></i>
        <h2 class="laterCard__degress">{{sixDegreess}} C°</h2>
      </div>

      <div class="cardCaracteristics__laterCard">
        <h2 class="laterCard__hour">{{nineH}}:{{minutes}}</h2>
        <i class="fa-solid fa-droplet nextDays" *ngIf="states.Drizzle"></i>
        <i class="fa-solid fa-cloud-rain nextDays" *ngIf="states.Rain"></i>
        <i class="fa-solid fa-cloud-bolt weatherIcons nextDays" *ngIf="states.Thunderstorm"></i> 
        <i class="fa-solid fa-snowflake weatherIcons nextDays"  *ngIf="states.Snow"></i>
        <i class="fa-solid fa-smog weatherIcons nextDays"*ngIf="states.Atmosphere"></i>
        <i class="fa-solid fa-sun weatherIcons nextDays" *ngIf="states.Sunny"></i>
        <i class="fa-solid fa-cloud weatherIcons nextDays" *ngIf="states.Clouds"></i>
        <h2 class="laterCard__degress">{{nineDegreess}} C°</h2>
      </div>
    </div>

      <div class="cardCaracteristics__behaviorsCard">
        <div class="behaviorsCard__card">
          <h2 class="card__name">Humidity:</h2>
          <h2 class="card__data">{{humidity}}</h2>
        </div>  
        <div class="behaviorsCard__card">
          <h2 class="card__name">Wind Speed:</h2>
          <h2 class="card__data">{{windSpeed}}</h2>
          
        </div>      
        <div class="behaviorsCard__card">
          <h2 class="card__name">Pressure:</h2>
          <h2 class="card__data">{{pressure}}</h2>
          
        </div>      
        <div class="behaviorsCard__card">
          <h2 class="card__name">Visibility:</h2>
          <h2 class="card__data">{{visibility}}</h2>
          
        </div>      
        <div class="behaviorsCard__card">
          <h2 class="card__name">Sea Level:</h2>
          <h2 class="card__data">{{seaLevel}}</h2>
          
        </div>      
        <div class="behaviorsCard__card">
          <h2 class="card__name">Ground Level:</h2>
          <h2 class="card__data">{{groundLevel}}</h2>
        </div>  
    </div>
  </div>
</section>
